src/os/init/macos/alfred/Alfred.alfredpreferences/clipboard/snippets.alfdb
# src/os/init/macos/alfred/Alfred.alfredpreferences/preferences/local/977e64fd1b3315d7dbc94e917b8a00b6d5b949c6
src/os/init/macos/alfred/Alfred.alfredpreferences/remote/
